/* header {
  	width: 100%;
  	padding: 20px;
  	margin-top: 0px;
  	margin-bottom: 20px;
  	margin-left: 0px;
  	border-style: solid;
  	border-color: #eee;
}*/
body {
	background: #eee;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #979A9A;
}

a {
	text-decoration: none;
}

/*div.headerr {
	text-color: #000;
	top: 0;
}*/

h1 {
    font-family: "Times New Roman", Times, serif;
}

h3 {
    font-family: "Times New Roman", Times, serif;
}


header {
	position: fixed;
  	width: 100%;
  	padding: 20px;
	background: #fff;
	text-align: center;
	top: 0;
	left: 0;
	height: 40px;
	overflow: hidden;

  	border-style: solid;
  	border-width: thin;
  	border-color: #ccc;
}

#myName {
	/*float: left;*/
	position: fixed;
	width: 250px;
	height: 40px;
	padding: 20px;
	background: #979A9A;
  	top: 0;
  	margin-left: 100px;
  	margin-bottom: 0;

  	/*border-style: solid;
  	border-width: thin;*/
  	color: #fff;
  	border-right: 1px solid #ccc;
  	border-left: 1px solid #ccc;

	font-size: 25px;
    font-weight: bold;
    font-color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/*#name:after {
	clear: both;
}*/

#menuBar {
	float: right;
	font-size: small;
    font-color: grey;
	margin-right: 100px;
}

#menuBar:after {
	clear: both;
}

content {
	padding: 20px;
}


#aboutMe {
	/*position: relative;*/
	float:left;

	width: 400px;
	padding: 20px;
	background: #fff;
	margin: 100px auto 100px 10px;
	
	margin-left:100px;

  	border-style: solid;
  	border-width: thin;
  	border-color: #ccc;
}

img.mine {
	float: left;
	margin-right: 10px;
}

#connect {
	/*position: relative;*/
	float:left;

	width: 170px;
	padding: 20px;
	background: #fff;
	border-color: #ccc;
	margin: 100px auto 100px 10px;

	align-items: center;

	margin-left:30px;

  	border-style: solid;
  	border-width: thin;
  	border-color: #ccc;

}

#connect:after {
	clear: both;
}

img.logo {
	height: 50px;
	width: 50px;
}

footer {
	position: fixed;
  	width: 100%;
  	padding: 20px;
	text-align: center;
	background: #454545;
	bottom: 0;
	left: 0;

  	border-top: 5px solid #979A9A;

}

p.copy {
	font-size: small;
    font-color: #c0c0c0;

	font-size: 15px;
    font-color: #c0c0c0;
}


#Contact {
	float:left;

	width: 400px;
	padding: 20px;
	background: #fff;
	margin: 100px auto 100px 10px;
	
	margin-left:100px;

  	border-style: solid;
  	border-width: thin;
  	border-color: #ccc;

}

form {


}

input{
	width: 400px;
	height: 20px;
	border: 1px solid #eee;
}

textarea{
	width: 400px;
	height: 200px;
	
	border: 1px solid #eee;
}

p.sub {
	color: #fff;
	widht:50px;
}

#Portfolio {
	float:left;

	width: 400px;
	padding: 20px;
	background: #fff;
	margin: 100px auto 100px 10px;
	
	margin-left:100px;

  	border-style: solid;
  	border-width: thin;
  	border-color: #ccc;

}


.txtNimg{
	position: relative;
	width: 200px;
}

.txtNimg img {
	width: 200px;
}

.txtNimg p {
	position: absolute;
	width: 100%;
	height: 20%;
	text-align: center;
	left: 0;
	bottom: 10px;
	color: #fff;
	margin: 0;
	background: #ccc;
	vertical-align: middle;

	font-size: 20px;
    font-color: white;
    font-family: "Times New Roman", Times, serif;
}
